.container-home {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 2em;
  font-weight: 700;
}

.container-alerts {
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alert-title {
  font-size: 2em;
  font-weight: 200;
}

.container-persons {
  height: auto;
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container_persons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.overview {
  display: flex;
}

.text-overview {
  display: flex;
  text-align: left;
  padding: 1em;
}

.persons-title {
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 1em;
}

.container-stations {
  height: auto;
  width: 100%;
  margin-top: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stations-title {
  font-size: 2em;
  font-weight: 200;
}

.container_stations {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
